<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invoice</title>
</head>

<body style="
      font-family: sans-serif;
      margin: 0;
      padding: 12px;
      background-color: #f6f6f6;
      width: 560px;
    ">
  <h1 style="text-align: center">Thanks for your order</h1>

  <table style="width: 100%">
    <tr>
      <td>
        <h3>Invoice</h3>
      </td>
      <td style="text-align: right">
        <h3>5 October 2022</h3>
      </td>
    </tr>
  </table>
  <hr />
  <table style="width: 100%">
    <thead>
      <tr style="text-align: left">
        <th>Event Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>We The Fest</td>
        <td>2</td>
        <td>Rp. 1,000,000</td>
      </tr>
      <tr>
        <td>We The Fest</td>
        <td>2</td>
        <td>Rp. 1,000,000</td>
      </tr>
      <tr>
        <td>We The Fest</td>
        <td>2</td>
        <td>Rp. 1,000,000</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <table style="width: 100%">
    <tr>
      <td>
        <h2>Total</h2>
      </td>
      <td style="text-align: right;">
        <h2>Rp. 3,000,000</h2>
      </td>
    </tr>
  </table>
</body>

</html>